doctype html
html
  head
    title Digital Whiteboard
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/jquery-1.11.1.js')
    script(src='/javascripts/whiteboard.js')
  body
    block content
