extends layout

block content
    canvas#one(width="1900" height="1000")
    div.controls.draggable
        ul#colors
            li.black.unselectable.selected &nbsp;
            li.red.unselectable  &nbsp;
            li.purple.unselectable &nbsp;
            li.yellow.unselectable &nbsp;
            li.pink.unselectable &nbsp;
            li.brown.unselectable &nbsp;
            li.blue.unselectable &nbsp;
            li.green.unselectable &nbsp;
            li.white.unselectable &nbsp;
    script var roomId = '!{roomId}';
    script var realtime = '!{realtime}';