.controls {
    position:absolute;
    z-index: 0;
    left:10px;
    top:10px;
    min-height: 60px;
    margin: 0 auto;
    width: 10%;
    border-radius: 5px;
    overflow: hidden;
}
ul {
    list-style-type: none;
    margin: 0;
    float: left;
    padding: 0 0 0;
    width: 100%;
    text-align: center;
}
.black {
    background: #000;
}
.red {
    background: #e71e25;
}

.blue {
    background: #2d53a5;
}

.yellow {
    background: #feba1b;
}

.green {
    background: #017d35;
}

.purple {
    background: #6b48a2;
}

.pink {
    background: #ff5795;
}

.brown {
    background: #502e24;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}